shop .good {
  margin-bottom: 1rem;
}

shop .good .icon,
shop .good .info {
  display: inline-block;
  vertical-align: middle;
}

shop .good .icon {
  width: 3rem;
  height: 3rem;
  border: 0.08rem solid white;
  border-radius: 0.75rem;
  background-color: var(--block-bg-color);
  background-repeat: no-repeat;
  background-size: 1.5rem auto;
  background-position: center;
  margin-right: 1rem;
  cursor: pointer;
  transition: .2s;
}

shop .good.article .icon {
  background-image: url('/svg/article-icon.svg');
}

shop .good.advert .icon {
  background-image: url('/svg/advert-icon.svg');
}

shop .good.copywriter .icon {
  background-image: url('/svg/copywriter-icon.svg');
}

shop .good .icon:hover {
  background-color: var(--disabled-text-color);
}

shop .good .info {

}

shop .good .info .name {
  font-size: 1.1rem;
  margin-bottom: .2rem;
  display: block;
}

shop .good .info .name .count {
  color: var(--disabled-text-color);
}

shop .good .info .price {
  color: var(--accent-color);
  font-size: 1.4rem;
}