.good(*ngFor='let good of goods', (click)='shop.buy(good)', [ngClass]='good')
  .icon
  .info
    .name 
      | {{good}}
      span.count 
        | x{{getCount(good)}}
    .price 
      | ${{getPrice(good)}}