visitors {
  padding-top: 1.5rem;
}

visitors .data {
  padding-left: 4rem;
  background-image: url('/svg/visitors-icon.svg');
  background-repeat: no-repeat;
  background-size: 3.4rem auto;
  background-position: left center;
}
