site .manager {
  margin-bottom: 1rem;
}

site .manager .tab {
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 0.08rem solid;
  border-radius: 0.75rem;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  background: var(--block-bg-color);
  transition: .2s;
  color: var(--disabled-text-color);
  outline: none;
}

site .manager .tab:hover {
  background-color: var(--disabled-text-color);
  color: white;
}

site .manager .tab.active {
  color: white;
}

site .manager .tab.plus {
  color: var(--accent-color);
}

site .manager .new-site {
  display: inline-block;
}

site .manager .new-site .tab:not(:disabled) {
  color: white;
}

site .manager .new-site input {
  cursor: default;
}

site .content {
  border: 0.08rem solid;
  border-radius: 0.75rem;
  display: flex;
}

site .content .sidebar {
  width: 25%;
  background-color: var(--block-bg-color);
  padding: 2rem 1rem 2rem 1rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

site .content .sidebar li {
  padding: 0.75rem;
  border: 0.08rem solid var(--accent-color);
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--base-color);
}

site .content .sidebar li:last-of-type {
  margin-bottom: 0;
}

site .content h3 {
  display: inline-block;
}

site .content .mainblock {
  box-sizing: border-box;
  width: 150%;
  padding: 2rem 1rem 2rem 1rem;
}

site .content .mainblock h2 {
  text-align: center;
  border: 0.08rem solid;
  background-color: var(--block-bg-color);
  padding: 0.75rem;
}

site .content .mainblock ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

site .content .mainblock li {
  border: 0.08rem solid;
  background-color: var(--block-bg-color);
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  box-sizing: border-box;
}

