.manager
  .tab(
    *ngFor='let current of site.list',
    [ngClass]="{'active':current==site.active}",
    (click)='site.setActive(current)'
  )
    | {{ current.name }}
  .tab.plus(*ngIf='!isEditing', (click)='isEditing = true')
    | +
  form.new-site(*ngIf='isEditing', (ngSubmit)='saveNewSite()')
    input.tab(
      type='text',
      [(ngModel)]='sitename',
      name='sitename',
      placeholder = 'Your site\'s name goes here'
    )
    button.tab([disabled]='!sitename') Ok

.content
  ul.mainblock
    li.article(
      *ngFor='let article of filter(site.active.articles, 9)',
      [ngClass]="{'disabled': !article}"
    )
      .info
        | {{article || 'empty article'}}
        .actions
          | 8 мин
          .comment
          .repost

    li.advert(
      *ngFor='let advert of filter(site.active.adverts, 4)',
      [ngClass]="{advert:true, 'disabled': !advert}"
    )
      | {{advert || 'empty advert'}}
